node_modules
static

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
!.env.dist

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Docker pnpm type shi
.pnpm-store
pnpm-lock.yaml